<html xmlns:th="http://www.thymeleaf.org" th:include="estandar :: estandar">
    <head>
        <title>Administracion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:fragment="contenido">
            <div id="domMessage" style="display:none;"> 
                <h1>We are processing your request.  Please be patient.</h1>
                
                <script type="text/javascript" th:inline="text">

                    // unblock when ajax activity stops 
                    $(document).ajaxStop($.unblockUI);

                    function test() {
                        $.ajax({url: 'http://localhost/PhpProject1/Mock.php', cache: false});
                    }

                    $(document).ready(function () {

                        $.blockUI({ message: '<h1><img th:src="[[@{/images/ajax.gif}]]"/> Espere un momento...</h1>' });
                        test();

                    });

                </script> 
            </div> 
        </div>

    </body>
</html>
