<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>INGRESAR AL SISTEMA</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
        <script th:src="@{/js/login_mt.js}"></script>
        <link href="css/login_mt.css" rel="stylesheet">

        <script th:src="@{/js/jquery.growl.js}"></script>
        <link href="css/jquery.growl.css" rel="stylesheet">


    </head>
    <body>
    <body class="main">

        <form method="POST" th:action="@{/login}">
            <div class='box'>
                <div class='box-form'>
                    <div class='box-login-tab'></div>
                    <div class='box-login-title'>
                        <div class='i i-login'></div><h2>LOGIN</h2>
                    </div>
                    <div class='box-login'>
                        <div class='fieldset-body' id='login_form'>
                            <!--button onclick="openLoginInfo();" class='b b-form i i-more' title='Mais Informações'></button-->
                            <p class='field'>
                                <label for='user'>USERNAME</label>
                                <input type='text' th:id='username' th:name='username' title='Username' />
                                <span id='valida' class='i i-warning'></span>
                            </p>
                            <p class='field'>
                                <label for='pass'>PASSWORD</label>
                                <input type='password' th:id='password' th:name='password' title='Password' />
                                <span id='valida' class='i i-close'></span>
                            </p>

                            <label class='checkbox'>
                                <!--input type='checkbox' value='TRUE' title='Keep me Signed in' /> Keep me Signed in -->
                            </label>

                            <input type='submit' id='do_login' value='INICIAR SEESION' title='INICIAR SESION' />
                        </div>
                    </div>
                </div>
                <div class='box-info' style="display: none">
                    <p><button onclick="closeLoginInfo();" class='b b-info i i-left' title='Back to Sign In'></button><h3>Need Help?</h3>
                    </p>
                    <div class='line-wh'></div>
                    <button onclick="" class='b-support' title='Forgot Password?'> Forgot Password?</button>
                    <button onclick="" class='b-support' title='Contact Support'> Contact Support</button>
                    <div class='line-wh'></div>
                    <button onclick="" class='b-cta' title='Sign up now!'> CREATE ACCOUNT</button>
                </div>
            </div>
        </form>

        <script>
            $(document).ready(function () {
                $("#do_login").click(function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    
                    
                });

                $.growl.notice({message: "The kitten is cute!"});
            })
        </script>

    </body>
</html>
